
.servicesTitle {
   display: flex;
   justify-content: right;
   margin-top: -20px;
   height: 80px;
   background: linear-gradient(to right, rgba(230, 233, 235, 0.7), rgb(172, 34, 107, 1.0));
}

.servicesTitle h2 {
   color: #E7E7E7;
   font-weight: bold;
   letter-spacing: 2px;
   font-size: 180%;
   margin-top: 34px;
   margin-right: 60px;
}

.serviceGoldBg {
   background-image: url(/images/ServicesBgTextureGold.jpg);
}

.aboutUsContainer {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   padding: 0px 20px;
}

.topSection {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   gap: 4%;
   margin: 4%;
}

.aboutUsText {
   font-size: 130%;
   flex: 0 1 48%;
   text-align: left;
   color: #545454;
}

#topImg {
   flex: 0 1 48%;
}

.aboutImage {
   max-width: 100%;
   border: 1px;
   border-style: solid;
   border-color: #979797;
   border-radius: 8px;
}

.bottomSection {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   gap: 4%;
   margin: 2% 4% 6% 4%;
}

#bottomImg {
   flex: 0 1 48%;
}

@media screen and (max-width: 850px) and (min-width: 619px) {

   .servicesTitle h2 {
      margin-right: 40px;
   }

   #topImg {
      min-width: 90%;
      order: 0;
      margin: 40px 0px 20px 0px;
   }

   #firstP {
      order: 2;
   }

   #bottomImg {
      min-width: 90%;
      order: 3;
      margin: 0px 0px 20px 0px;
   }

   #secondP {
      order: 4;
   }

   .aboutUsText {
      font-size: 120%;
      flex: 0 1 90%;
   }

   
}

@media screen and (max-width: 618px) {

   .servicesTitle h2 {
      font-size: 160%;
      margin-top: 36px;
      margin-right: 20px;
   }

   #topImg {
      min-width: 90%;
      order: 0;
      margin: 50px 0px 20px 0px;
   }

   #firstP {
      order: 2;
   }

   #bottomImg {
      min-width: 90%;
      order: 3;
      margin: 0px 0px 20px 0px;
   }

   #secondP {
      order: 4;
   }

   .aboutUsText {
      font-size: 110%;
      flex: 0 1 90%;
   }

   .bottomSection {
      margin: 8% 4%;
   }

}
