
.mottoContainer {
   display: flex;
   justify-content: center;
   color: #49748e;
   margin-top: -20px;
   padding: 10px;
}

.motto {
   width: 55%;
   font-family: Arial;
   font-style: oblique;
   font-size: 200%;
   align-self: center;
   text-align: center;
   margin-top: 40px;
}

.frontImage {
   margin-top: -4px;
   margin-bottom: -4px;
}

.eBookContainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #e5e7ea;
   padding: 40px;
}

.eBookLeft {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   flex: 0 1 45%;
   min-width: 450px;
}

#releaseTitle {
   color: #226BAC;
}

#releaseTitle h2 {
   font-size: 1.5em;
   font-weight: bold;
}

#eBookImageCont {
   max-width: 80%;
   margin: 10px;
}

#eBookImage {
   width: 100%;
   max-width: 300px;
}

#appleBadge {
   height: 48px;
}

.eBookRight {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   flex: 0 2 50%;
   min-width: 320px;
}

.eBookDesc {
   margin: 50px 0px 0px 0px;
   font-size: 1.2em;
   color: #545454;
}

#blueButton {
   cursor: pointer;
   max-height: 48px;
}

.servicesContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.servicesLeft {
   flex: 1 1 45%;
   background-image: url(/images/ServicesBgTextureGold.jpg);
   min-width: 560px;
}

.serviceAreaLink {
   text-decoration: none;
}

.serviceAreaLink:hover div {
   background-color: #dbe0e7;
}

.serviceArea {
   display: flex;
   align-items: center;
   height: 140px;
   border: 0.5px;
   border-style: solid;
   border-color: #dbe0e7;
}

.serviceArea:hover div {
   display: block;
}

.buttonEdge {
   flex-grow: 1;
   max-width: 100px;
   margin-left: 40px;
   margin-right: 30px;
   border: 1px;
   border-style: solid;
   border-color: #979797;
   border-radius: 8px;
   background-color: rgba(109, 152, 187, .2);
}

.serviceImg {
   max-height: 100px;
}

.serviceTitle {
   color: #545454;
}

.serviceDesc {
   max-width: 330px;
   display: none;
}

.servicesRight {
   /* flex-grow: 1; */
   flex: 1 1 45%;
   background-image: url(/images/ServicesBgTextureGold.jpg);
   min-width: 480px;
}

#hidden {
   display: none;
}

@media screen and (max-width: 850px) and (min-width: 619px) {

   .motto {
      font-size: 150%;
      margin-top: 40px;
   }

   #blueButton {
      max-height: 38px;
   }
   
}

@media screen and (max-width: 618px) {
   .mottoContainer {
      display: flex;
      margin-bottom: 20px;
      z-index: -1;
      /* align-content: flex-end; */
      /* margin-top: -30px; */
   }

   .motto {
      font-size: 120%;
      margin-top: 40px;
   }

   #blueButton {
      max-height: 38px;
   }

   .servicesLeft {
      min-width: 360px;
   }

   .servicesRight {
      min-width: 360px;
   }

   .serviceTitle h2 {
      font-size: 120%;
   }
}